.LoadingScreenRoot {
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/leaf_pages/ddb_s1_promo/bg_moon_psd.vtex");
    background-size: 100% 100%;
}

#Title {
	width: 800px;
    height: 123px;
    background-image: url("file://{images}/custom_game/loading_screen/title.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 10px;
}