.DevPanel {
    horizontal-align: right;
    vertical-align: middle;

    width: 500px;
    height: 400px;

    transition: position 0.1s ease-in-out 0.0s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #181818dd;
    border: 2px solid #222222;
    box-shadow: #000000aa -4px -4px 8px 8px;
}

#CollapseButton {
    width: 400px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 24;
    text-align: center;
    background-color: #00000099;
    box-shadow: #00000033 -2px -2px 1px 4px;
    transform: rotateZ(-90deg);
    position: -185px 0px 0px;
    vertical-align: center;
}

#CollapseButton:hover {
    background-color: #000000aa;
}

.Collapsed {
    position: 470px 0px 0px;
}

#ButtonContainer {
    position: 30px 0px 0px;
    height: 400px;
    width: 100%;
    flow-children: right-wrap;
}

.SkipButton {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333), to( #444444 ) );

    height: 30px;
    width: 200px;

    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;

    border-style: solid;
    border-width: 1px;

    border-top-color: #444444;
    border-left-color: #494949;
    border-bottom-color: #111111;
    border-right-color: #404040;

    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;

    font-size: 20;
    color: white;
    text-align: center;
}

.SkipButton:hover {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );
    border-top-color: #aaaaaa77;
    border-left-color: #aaaaaa33;
    border-bottom-color: #333333;
    border-right-color: #404040;
}