.MainHud {
    width: 100%;
    height: 100%;
}

.UIHighlightScalingAnimation
{
    animation-name: scalingAnimationUI;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes 'scalingAnimationUI' {
    0% {
        box-shadow: 0 0 5px gold;
        transform: translate3d( 25px, -620px, -0px );
        pre-transform-scale2d: 5, 5;
    }
    25% {
        box-shadow: 0 0 10px gold;
        pre-transform-scale2d: 4, 4;
    }
    50% {
        box-shadow: 0 0 20px gold;
        pre-transform-scale2d: 3, 3;
    }
    75% {
        box-shadow: 0 0 10px gold;
        pre-transform-scale2d: 2, 2;
    }
    100% {
        box-shadow: 0 0 5px gold;
        pre-transform-scale2d: 1, 1;
    }
}

.UIHighlight {
    z-index: 100;
    animation-name: highlightGlow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes 'highlightGlow' {
    0% {
        box-shadow: 0 0 5px gold;
    }
    25% {
        box-shadow: 0 0 10px gold;
    }
    50% {
        box-shadow: 0 0 30px gold;
    }
    75% {
        box-shadow: 0 0 10px gold;
    }
    100% {
        box-shadow: 0 0 5px gold;
    }
}

.UIHighlightCourierDeliverButton
{
    border: 8px solid    #CFB53B;
    border-radius: 50%;
    margin-left: -5px;
}

#ChaptersMenu {
    width: 1200px;
    height: 400px;
    align: center center;

    opacity: 0;
    transform: scale3d(0, 0, 1);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    z-index: 5;
    background-color: #000000ef;
    border-radius: 5px;
    box-shadow: #000000aa -4px -4px 8px 8px;
}

#ChaptersMenu.Visible {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.ChaptersMenuHeader {
    width: 100%;
    height: 10%;
}

.ChaptersTitle {
    text-align: center;
    align: center center;

    text-transform: uppercase;
    color: gradient( linear, 0% 0%, 100% 0%, from( #F8E8B9 ), color-stop( 0.5, #E4C269), to( #C79123 ) );
    text-shadow: 0px 0px 3px 5.0 #000000;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 5px;
    font-family: titleFont;
}

.ChaptersCloseButton {
    horizontal-align: right;
    width: 30px;
    height: 30px;

    background-size: 100%;
    background-color: #444;
    background-image: url("file://{images}/custom_game/skip_section/close_icon.png");
    background-repeat: no-repeat;

    margin-top: 8px;
    margin-right: 19px;
    brightness: 1;
    transition-property: brightness;
    transition-duration: 0.2s;

    border-radius: 2px;
}

.ChaptersCloseButton:hover {
    brightness: 1.5;
}

.ChaptersMenuContents {
    width: 100%;
    height: 90%;
    vertical-align: bottom;
    flow-children: right;
}

.ChapterContainer {
    height: 340px;
    width: 188px;

    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url("file://{images}/custom_game/skip_section/backgroundcover.png");
    background-size: 100% 100%;
    transition-property: background-image;
    transition-duration: 0.2s;
}

.ChapterContainer:hover {
    brightness: 1.5;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}

.ChapterArtContainer {
    width: 100%;
    height: 60%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: 90% 100%;
    background-position: 10px 10px;
    background-repeat: no-repeat;

    tooltip-position: top;
}

.ChapterInformationContainer {
    width: 100%;
    height: 40%;
    vertical-align: bottom;
}

.Chapter1Art {
    width: 65%;
    height: 65%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/skip_section/Chapter1Art.png");
    margin-top: 40px;
    align: center center;
}

.Chapter2Art {
    width: 75%;
    height: 75%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/skip_section/Chapter2Art.png");
    margin-left: 10px;
    margin-top: 40px;
    align: center center;
}

.Chapter3Art {
    width: 65%;
    height: 65%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/skip_section/Chapter3Art.png");
    margin-top: 55px;
    margin-left: 10px;
    align: center center;
}

.Chapter4Art {
    width: 100%;
    height: 70%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 15px 20px;
    margin-top: 30px;
    align: center center;
}

.Chapter5Art {
    width: 65%;
    height: 65%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/skip_section/Chapter5Art.png");
    align: center center;
    margin-top: 40px;
}

.Chapter6Art {
    width: 65%;
    height: 65%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/skip_section/Chapter6Art.png");
    align: center center;
    margin-top: 30px;
}

.ChaptersSubTitle {
    text-align: center;
    align: center top;
    text-transform: uppercase;
    color: gradient( linear, 0% 0%, 100% 0%, from( #F8E8B9 ), color-stop( 0.5, #E4C269), to( #C79123 ) );
    text-shadow: 0px 0px 3px 5.0 #000000;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-family: titleFont;
}

#ChapterPlayButton {
    min-width: 70px;
    height: 30px;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 17px;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/skip_section/ButtonBackground.png");

    border-style: solid;
    border-width: 1px;
    box-shadow: #00000055 -2px -2px 4px 4px;

    transition-property: background-color, opacity;
    transition-duration: 0.05s;
    transition-timing-function: linear;
}

#ChapterPlayButton:hover {
    brightness: 1.3;
}

#ChapterPlayButton > Label {
    color: white;
    text-transform: uppercase;
    text-align: center;
    align: center center;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}

#GuidesMenu {
    width: 1200px;
    height: 400px;
    align: center center;

    opacity: 0;
    transform: scale3d(0, 0, 1);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    z-index: 5;

    background-color: #111920ff;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: #000000aa -4px -4px 8px 8px;
}

#GuidesMenu.Visible {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.GuidesMenuHeader {
    width: 100%;
    height: 10%;
}

.GuidesTitle {
    text-align: center;
    align: center center;

    text-transform: uppercase;
    text-decoration: underline;
    color: gradient( linear, 0% 0%, 100% 0%, from( #F8E8B9 ), color-stop( 0.5, #E4C269), to( #C79123 ) )
    text-shadow: 0px 0px 3px 5.0 #000000;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 5px;
}

.GuidesCloseButton {
    horizontal-align: right;
    width: 30px;
    height: 30px;

    background-size: 100%;
    background-color: #444;
    background-image: url("file://{images}/custom_game/skip_section/close_icon.png");
    background-repeat: no-repeat;

    margin-top: 8px;
    margin-right: 14px;
    brightness: 1;
    transition-property: brightness;
    transition-duration: 0.2s;

    border-radius: 5px;
}

.GuidesCloseButton:hover {
    brightness: 1.5;
}

.GuidesMenuContents {
    width: 100%;
    height: 90%;
    vertical-align: bottom;
    flow-children: right;
    overflow: scroll;
}

.GuideContainer {
    height: 320px;
    width: 188px;

    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid #222222;
    box-shadow: #000000aa -4px -4px 8px 8px;
    background-size: 140% 102%;
    background-position: -38px -34px;
    transition-property: background-image;
    transition-duration: 0.2s;
}

.GuideContainer:hover {
    background-size: 140% 104%;
    background-position: -38px -34px;

    transition-property: background-image;
    transition-duration: 0.2s;
}

.GuideThumbnailContainer {
    width: 100%;
    height: 60%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/skip_section/background.png");

    tooltip-position: top;
}

.GuideInformationContainer {
    width: 100%;
    height: 40%;
    vertical-align: bottom;
}

.Guide1Thumbnail {
    width: 95%;
    height: 95%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/guides/Guide1Thumbnail.png");
    margin-top: 0px;
    align: center center;
    border-radius: 5px;
}

.Guide2Thumbnail {
    width: 95%;
    height: 95%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/guides/Guide2Thumbnail.png");
    margin-top: 0px;
    align: center center;
    border-radius: 5px;
}

.Guide3Thumbnail {
    width: 95%;
    height: 95%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/guides/Guide3Thumbnail.png");
    margin-top: 0px;
    align: center center;
    border-radius: 5px;
}

.GuideSubTitle {
    text-align: center;
    align: center top;
    text-transform: uppercase;
    color: gradient( linear, 0% 0%, 100% 0%, from( #F8E8B9 ), color-stop( 0.5, #E4C269), to( #C79123 ) )
    text-shadow: 0px 0px 3px 5.0 #000000;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5px;
}

#GuideOpenButton {
    min-width: 120px;
    height: 36px;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.ButtonBevel Label {
    font-size: 15px;
}

#FadeScreenContainer {
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: black;
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

#FadeScreenContainer.Visible {
    opacity: 1;
}

#MessageToTheNoobsButton {
    width: 210px;
    height: 55px;
    horizontal-align: left;
    vertical-align: center;
    flow-children: right;
    margin-top: 520px;
    margin-left: 0px;
    padding-right: 10px;
    background-color: #000000ef;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: #000000aa -4px -4px 8px 8px;
    tooltip-position: top;
    width: fit-children;
}

.MinimapExtraLarge #MessageToTheNoobsButton {
	margin-top: 450px;
}

#MessageToTheNoobsButton:hover {
    brightness: 2;
}

#MessageToTheNoobsButton:active {
    brightness: 2;
}

#MessageToTheNoobsImage {
    width: 40px;
    height: 40px;

    vertical-align: center;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("file://{images}/custom_game/message_noobs/random.png");
    margin-left: 10px;
}

#MessageToTheNoobsText {
    font-size: 21px;
    margin-top: 13px;
    margin-left: 10px;
    height: 50px;
    vertical-align: center;
    color: #EEEEEE;
    text-shadow: 0px 0px 3px 5.0 #000000;
    font-weight: semi-bold;
    font-family: titleFont;
    text-transform: uppercase;
}

#MessageToTheNoobsMessage {
    font-size: 24px;
    margin-top: 5px;

    max-width: 500px;

    background-color: #000000ef;
    padding: 10px;
    border-radius: 5px;

    color: #EEEEEE;

    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 200px;

    opacity: 0.9;
    transform: scale3d(0, 0, 1);

    text-shadow: 0px 0px 3px 3.0 #000000;
}

#MessageToTheNoobsMessage.Visible {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

#PressKeyMessage {
    font-size: 24px;
    margin-top: 5px;

    background-color: #000000ef;
    padding: 10px;
    border-radius: 5px;

    color: #EEEEEE;

    horizontal-align: center;
    vertical-align: center;
    margin-left: 600px;
    margin-bottom: 250px;

    opacity: 0.9;
    transform: scale3d(0, 0, 1);

    text-shadow: 0px 0px 3px 3.0 #000000;
}

#PressKeyMessage.Visible {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

#Chapter3SkipButton {
    vertical-align: center;
    horizontal-align: right;
    margin-top: 200px;
    margin-right: 300px;
    box-shadow: 0 0 5px gold;
}

#Chapter3SkipConfirmationRoot {
    width: 450px;
    height: 200px;
    align: center center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
    border: 1px solid #5e6869;
    padding-top: 22px;
    padding-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;
    box-shadow: black -4px -4px 8px 8px;
    flow-children: down;

    opacity: 0;
    transform: scale3d(0, 0, 1);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
}

#Chapter3SkipConfirmationRoot.Visible {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

#Chapter3SkipTitle {
    font-size: 29;
    font-weight: thin;
    color: #afb4b4;
    margin-top: -10px;
    horizontal-align: center;
    font-family: defaultFont;
    width: fit-children;
    text-shadow: 1px 1px 2px 1.0 #000000;
}

#Chapter3SkipMessage {
    font-size: 24;
    color: #FFFFFF;
    margin-top: 15px;
    horizontal-align: center;
    text-align: center;
    font-family: defaultFont;
    width: fit-children;
    text-shadow: 1px 1px 2px 2.0 #000000;
}

.Chapter3SkipRootBottom {
    width: 100%;
    height: 30%;
    vertical-align: bottom;
    flow-children: right;
    margin-top: 20px;
}

#Chapter3SkipConfirmationButtonYes {
    width: 150px;
    height: 40px;
    background-image: url("file://{images}/custom_game/skip_stacking/green_large_off.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top: 1px solid #ffffff05;
    border-right: 1px solid #00000088;
    border-left: 1px solid #ffffff05;
    border-bottom: 1px solid #00000088;
    text-align: center;
    align: center center;
    margin-left: 30px;
}

#Chapter3SkipConfirmationButtonNo {
    width: 150px;
    height: 40px;
    background-image: url("s2r://panorama/images/red_large_off_png.vtex");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top: 1px solid #ffffff05;
    border-right: 1px solid #00000088;
    border-left: 1px solid #ffffff05;
    border-bottom: 1px solid #00000088;
    text-align: center;
    align: center center;
}

#Chapter3SkipConfirmationButtonYes > Label,
#Chapter3SkipConfirmationButtonNo > Label {
    align: center center;
    font-size: 20;
    color: white;
    width: fit-children;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px 3.0 #000000;
}

#Chapter3SkipConfirmationButtonNo:hover,
#Chapter3SkipConfirmationButtonYes:hover {
    brightness: 1.5;
}

#Chapter3SkipConfirmationButtonNo:active,
#Chapter3SkipConfirmationButtonYes:active {
    sound: "ui_generic_button_click";
}

#CurrentChapter {
    text-align: center;
    align: left top;
    text-transform: uppercase;
    color: gradient( linear, 0% 0%, 100% 0%, from( #F8E8B9 ), color-stop( 0.5, #E4C269), to( #C79123 ) );
    text-shadow: 0px 0px 3px 5.0 #000000;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 14px;
    margin-left: 238px;
    width: 210px;
    text-overflow: shrink;
    font-family: titleFont;
}

.TextGlow {
    animation-name: textGlow;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes 'textGlow' {
    0% {
        text-shadow: 0px 0px 3px gold;
    }
    25% {
        text-shadow: 0px 0px 7px gold;
    }
    50% {
        text-shadow: 0px 0px 15px gold;
    }
    75% {
        text-shadow: 0px 0px 7px gold;
    }
    100% {
        text-shadow: 0px 0px 3px gold;
    }
}
