.Preload {
    background-image: url("file://{images}/custom_game/portraits/sunsfan_greevil.png");
    background-image: url("file://{images}/custom_game/portraits/slacks_greevil.png");
    background-image: url("file://{images}/custom_game/credits/avatars/AngerMania.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Tsunami.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Translators.png");
    background-image: url("file://{images}/custom_game/credits/avatars/alexander_coccia.png");
    background-image: url("file://{images}/custom_game/credits/avatars/bsj.png");
    background-image: url("file://{images}/custom_game/credits/avatars/d2bowie.png");
    background-image: url("file://{images}/custom_game/credits/avatars/dota_from_zero.png");
    background-image: url("file://{images}/custom_game/credits/avatars/dota_university.png");
    background-image: url("file://{images}/custom_game/credits/avatars/liquipedia.png");
    background-image: url("file://{images}/custom_game/credits/avatars/purge.png");
    background-image: url("file://{images}/custom_game/credits/avatars/redditdota2.png");
    background-image: url("file://{images}/custom_game/credits/avatars/ZQ.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Yodi.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Dotabuff.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Awesomedota.png");
    background-image: url("file://{images}/custom_game/credits/avatars/DotaFire.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Torte.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Indiegogo.png");
    background-image: url("file://{images}/custom_game/credits/avatars/moddota.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Ruby.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Slacks.png");
    background-image: url("file://{images}/custom_game/credits/avatars/sunsfan.png");
    background-image: url("file://{images}/custom_game/portraits/odpixel_lion.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Jenkins.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Sheepsticked.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Sheever.png");
    background-image: url("file://{images}/custom_game/credits/avatars/ODPixel.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Mason.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Capitalist.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Blitz.png");
    background-image: url("file://{images}/custom_game/credits/avatars/TrentPax.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Lyrical.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Synderen.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Artour.png");
    background-image: url("file://{images}/custom_game/credits/avatars/Yoyo.png");
    background-image: url("file://{images}/custom_game/credits/avatars/PyrionFlax.png");
}