#QuestsPanelRoot {
    horizontal-align: left;
    vertical-align: middle;
    margin-bottom: 190px;

    width: 500px;
    height: 650px;
}

.QuestsPanelHeader {
    width: 100%;
    height: 6%;
   
    vertical-align: top;
}

.QuestsTitleIcon {
    width: 28px;
    height: 28px;

    background-image: url("file://{images}/custom_game/quests/QuestsTitleIcon.png");
    background-size: 100% 100%;
    margin-left: 10px;
    wash-color: #CDF;
}

.QuestsTitle {
    color: #CDF;
    text-align: center;
    text-shadow: 1px 1px 2px 2.0 #00000011;
    text-transform: uppercase;

    font-weight: semi-bold;
    font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
    font-size: 23px;
    letter-spacing: 1px;
    margin-left: 40px;
}

.Divider {
    background-color:#CDF;
    width: 44%;
    height: 1px;
    margin-left: 10px;
    margin-top: 30px;
    brightness: 0.6;
}

.QuestsPanelContainer {
    width: 100%;
    height: 94%;
    vertical-align: bottom;
    flow-children: down;
}

.Row {
    flow-children: right;
    width: 100%;
    height: 5%;
}

#QuestsUncompleted {
    width: 26px;
    height: 26px;

    background-image: url("file://{images}/custom_game/quests/QuestUncompleted.png");
    background-size: 100% 100%;
    margin-left: 10px;
    wash-color: white;
    brightness: 1.5;
}

#QuestsCompleted {
    width: 26px;
    height: 26px;

    background-image: url("file://{images}/custom_game/quests/QuestCompleted.png");
    background-size: 100% 100%;
    margin-left: 10px;
    wash-color: gray;
    brightness: 1.3;
}

.QuestUncompletedText {
    color: #CDF;
    margin-top: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 0px 2.0 #000000;
    font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
    font-size: 15px;
}

.QuestCompletedText {
    color: gray;
    margin-top: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 0px 2.0 #000000;
    font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
    font-size: 15px;
    text-decoration: line-through;
}