#QuestsPanelRoot {
    horizontal-align: left;
    vertical-align: middle;
    margin-bottom: 190px;

    width: 900px;
    height: 650px;
}

.QuestsPanelHeader {
    width: 100%;
    height: 6%;

    vertical-align: top;
}

.QuestsTitleIcon {
    width: 28px;
    height: 28px;

    background-image: url("file://{images}/custom_game/quests/QuestsTitleIcon.png");
    background-size: 100% 100%;
    margin-left: 10px;
    margin-top: -5px;
    wash-color: #cdf;
}

.QuestsTitle {
    color: #cdf;
    text-align: center;
    text-shadow: 1px 1px 2px 3.0 #000000;
    text-transform: uppercase;

    font-weight: bold;
    font-family: titleFont;
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 40px;
    margin-top: -4px;
}

.Divider {
    background-color: #cdf;
    width: 25%;
    height: 3px;
    margin-left: 10px;
    margin-top: 32px;
    brightness: 0.6;
    border-radius: 5px;
    box-shadow: #000000ff 0px 0px 16px 0px;
}

#QuestsPanelContainer {
    width: 100%;
    height: 94%;
    vertical-align: bottom;
    flow-children: down;
}

.Row {
    flow-children: right;
    width: 100%;
    height: 5%;
}

.QuestsUncompleted {
    width: 28px;
    height: 28px;

    background-image: url("file://{images}/custom_game/quests/QuestUncompleted.png");
    background-size: 100% 100%;
    margin-left: 9px;
    wash-color: #C79123;
    brightness: 4;
}

.QuestsCompleted {
    width: 28px;
    height: 28px;

    background-image: url("file://{images}/custom_game/quests/QuestCompleted.png");
    background-size: 100% 100%;
    margin-left: 9px;
    wash-color: gray;
    brightness: 1.3;
}

.QuestUncompletedText {
    color: gradient( linear, 0% 0%, 100% 0%, from( #E4C269 ), color-stop( 0.5, #E4C269), to( #E4C269 ) );
    margin-top: 4px;
    font-weight: bold;
    font-family: Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
    font-size: 16px;
    text-shadow: 0px 0px 3px 4.0 #000000;
}

.QuestCompletedText {
    color: gray;
    margin-top: 3px;
    font-weight: bold;
    font-family: Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
    font-size: 16px;
    text-decoration: line-through;
    text-shadow: 1px 1px 2px 4.0 #000000;
    brightness: 1.3;
}

.TextGlow {
    animation-name: textGlow;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes 'textGlow' {
    0% {
        text-shadow: 0px 0px 3px gold;
    }
    25% {
        text-shadow: 0px 0px 7px gold;
    }
    50% {
        text-shadow: 0px 0px 15px gold;
    }
    75% {
        text-shadow: 0px 0px 7px gold;
    }
    100% {
        text-shadow: 0px 0px 3px gold;
    }
}
